python>=3.6
# weird numpy.obj deprecated, just pin it
numpy==1.23.4
pandas
tqdm
pyautogui
opencv
tensorflow-gpu>=1.15.4
# must be <2.5.0, Adam thing
keras-gpu>=2.2.4,<2.5.0
cudatoolkit==11.2
cudnn==8.1

